* {
    box-sizing: border-box;
  }

ul {
    display: flex;
    width: 100%; 
    list-style-type: none;
}

li {
    background-color: black;
    color: white;
    border: solid white;
    padding: 0 10px; 
}

.footerNav > ul > li {
    background-color: white;
    color: red;
}

container {
    display: flex;
}

main img{
    width: 100%;
}

aside {
    width: 30%;
    padding: 30px 30px;
}