



<div class="navigation">navigationbar
<ul id="navmenu">
<li><a href="/">Home</a></li>
<li><a href="/category/iPhone">iPhone</a></li>
<li><a href="/category/iPad">iPad</a></li>
<li><a href="/category/Mac">Mac</a></li>
<li><a href="/category/other">other-categories</a></li>
<li><a href="/login">Sign-In</a></li>
<li><a href="/register">Register</a></li>
</ul>
</div>
<h1>welcome to applebite</h1>
<img src="/images/applebite_logo.jpg" height="50" width="50">
<div class="top">TOP</div>

<form action="">
<div class="middle">MIDDLE</div>
<input type="search" name="" placeholder="What are you looking for..." size="100">
</form>


<div class="bottom">BOTTOM</div>



