<form action="/alpacas/<%= @alpaca.id %>"method="post">
<input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type ="text" name="url" value="<%= @alpaca.url %>">
  <button>update</button>
</form>