<h1>99 Bottles of Beer on the wall</h1>
  

  <form action="77"  method = "get">
  <input value ='TAKE ONE DOWN' type="submit">

    <h1><%="1 fell, #{params[:num_bottles]} bottles of beer"%></h1>

    
    <%@num_bottles = params[:num_bottles]%>
    <%puts @num_bottles%>

    <%  @num_bottles = (@num_bottles.to_i - 1) %>
    <%  params[:num_bottles] = @num_bottles %>

    <h1> <%=@num_bottles%> </h1>
    <% if @num_bottles.to_i != 0 %>
    <div> <%@num_bottles%> </div>
    <% else %>
    <div> No more bottles on the wall </div>
    <%end%>
    </form>


  
  
